<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
    <canvas></canvas>
    <div class='fullscreenDiv'>
        <div class="nameContainer">
            @for (letter of name; track letter; let idx = $index) {
            <div>
                <span class="letter">R</span>
                <span class="letter">e</span>
                <span class="letter">e</span>
                <span class="letter">c</span>
                <span class="letter">e</span>
                <span class="letter">T</span>
                <span class="letter">h</span>
                <span class="letter">a</span>
                <span class="letter">n</span>
                <span class="letter">d</span>
                <span class="letter">i</span>
            </div>
            }
        </div>
    </div>
</body>