.navbar {
    animation: 0.6s ease-in-out 0s normal forwards 1 slideDown;
}

.navbarBtn {
    padding: 7px;
}

@keyframes slideDown {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}