.navbar {
    animation: slideInFromTop 0.6s ease-in-out forwards;
}

.navbarBtn {
    padding: 7px;
}

@keyframes slideInFromTop {
    from {
        top: -75px;
        opacity: 0;
      }
    to  {
        top: 0;
        opacity: 1;
      }
}
