<div class="main">
    <div class="cvContainer bg-white">
        <div class="profile">
            <div class="name">
                <h1 class="nameHeader">Reece Thandi</h1>
                <p class="jobTitle">Software Engineer</p>
            </div>
            <div class="personalPhotoContainer">
                <div class="personalPhoto">
                </div>
            </div>
        </div>
        <div class="personalDetailsAndExperienceContainer">
            <div class="workExperienceColumn">
                <div class="relevantExperience">
                    <h1 class="relevantExperienceHeader">
                        Relevant Experience
                    </h1>
                    <div class="experienceHeaderAndYear">
                        <h1 class="experienceHeader">
                            MHR
                        </h1>
                        <p class="startAndFinishYear">
                            2022 - 2023
                        </p>
                    </div>
                    <div>
                        <ul>
                            <li>Lead a team of engineers to deliver new features and improvements to mobile applications
                            </li>
                            <li>Conducted 1-1 meetings with team members to ensure personal and professional development
                            </li>
                            <li>Architected and developed a new mobile application using React-Native, Typescript, Jest,
                                and Detox</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="personalDetailsColumn">
                <h1 class="sideBarHeaders">
                    About Me
                </h1>
                <p class="sideBarDescription">
                    Full-stack software engineer with 2 years of experience. Passionate about building beautiful,
                    functional, and high-performance software. A proactive learner and team player, always seeking
                    to
                    enhance skills and collaborate on solving complex problems and creating great products.
                </p>
                <hr>
                <h1 class="sideBarHeaders">
                    Skills
                </h1>
                <h2 class="sidebarSubHeaders">
                    Programming Languages
                </h2>
                <p class="sideBarDescription">
                    JavaScript (ES2015+), TypeScript,
                    HTML, CSS, Sass, SQL, GraphQL
                </p>
                <h2 class="sidebarSubHeaders">
                    Libraries & Frameworks
                </h2>
                <p class="sideBarDescription">
                    Angular, Jasmine, Node.js, RxJS, p5.js Tailwind CSS
                </p>
                <h2 class="sidebarSubHeaders">
                    Tools and Platforms
                </h2>
                <p class="sideBarDescription">
                    Git, GitHub
                </p>
                <hr>
                <h1 class="sideBarHeaders">
                    Selected Projects
                </h1>
                <h2 class="sidebarSubHeaders">
                    Immune System simulation
                </h2>
                <p class="sideBarDescription">
                    Simulation that models the immune system with viruses, human cells, and white blood cells
                </p>
                <h2 class="sidebarSubHeaders">
                    ReeceThandi.com
                </h2>
                <p class="sideBarDescription">
                    Personal website built with Angular 
                </p>
                <h2 class="sidebarSubHeaders">
                    Weather App
                </h2>
                <p class="sideBarDescription">
                    Real-Time Weather for your location
                </p>
                <hr>
                <h1 class="sideBarHeaders">
                    Education
                </h1>
                <div class="educationContainer">
                    <h2 class="sidebarSubHeaders gradeHeaders">
                        Software Dev - Level 4
                    </h2>
                    <div class="qualAndGradeContainer">
                        <p class="sideBarDescription">
                            Msc Oncology
                        </p>
                        <p class="sideBarDescription grades">
                            Pass
                        </p>
                    </div>
                </div>
                <div class="educationContainer">
                    <h2 class="sidebarSubHeaders gradeHeaders">
                        University Of Nottingham
                    </h2>
                    <div class="qualAndGradeContainer">
                        <p class="sideBarDescription">
                            Msc Oncology
                        </p>
                        <p class="sideBarDescription grades">
                            Merit
                        </p>
                    </div>
                </div>
                <div class="educationContainer">
                    <h2 class="sidebarSubHeaders gradeHeaders">
                        Nottingham Trent University
                    </h2>
                    <div class="qualAndGradeContainer">
                        <p class="sideBarDescription">
                            BSc Biological Science, Pharmacology and Physiology
                        </p>
                        <p class="sideBarDescription grades">
                            2.1
                        </p>
                    </div>
                </div>
                <hr>
                <h1 class="sideBarHeaders">
                    Interests
                </h1>
                <p class="sideBarDescription">
                    Kickboxing, Judo, FPV Drones, Rock climbing, Philosophy
                </p>
            </div>
        </div>
    </div>
</div>