<div class="main">
    <div class="cvContainer bg-white">
        <div class="profile">
            <div class="name">
                <h1 class="nameHeader">Reece Thandi</h1>
                <p class="jobTitle">Software Engineer</p>
            </div>
            <div class="personalPhotoContainer">
                <div class="personalPhoto">
                </div>
            </div>
        </div>
        <div class="personalDetailsAndExperienceContainer">
            <div class="workExperienceColumn">
                <div class="relevantExperience">
                    <h1 class="relevantExperienceHeader">
                        Relevant Experience
                    </h1>
                    <div class="experienceHeaderAndYear">
                        <h1 class="experienceHeader">
                            MHR
                        </h1>
                        <p class="startAndFinishYear">
                            2022 - 2023
                        </p>
                    </div>
                    <div>
                        <ul>
                            <li>Lead a team of engineers to deliver new features and improvements to mobile applications
                            </li>
                            <li>Conducted 1-1 meetings with team members to ensure personal and professional development
                            </li>
                            <li>Architected and developed a new mobile application using React-Native, Typescript, Jest,
                                and Detox</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="personalDetailsColumn">
                <h1 class="aboutMeHeader">
                    About Me
                </h1>
                <p>
                    Full-stack software engineer with 2 years of experience. Passionate about building beautiful,
                    functional, and high-performance software. A proactive learner and team player, always seeking to
                    enhance skills and collaborate on solving complex problems and creating great products.
                </p>
            </div>
        </div>
    </div>
</div>