<div class="main">
    <div class="cvContainer bg-white">
        <div class="pdfIconContainer">
            <a (click)="openPDF()">
                <svg class="w-6 h-6 text-gray-800 dark:text-white pdfIcon" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd"
                        d="M9 2.221V7H4.221a2 2 0 0 1 .365-.5L8.5 2.586A2 2 0 0 1 9 2.22ZM11 2v5a2 2 0 0 1-2 2H4a2 2 0 0 0-2 2v7a2 2 0 0 0 2 2 2 2 0 0 0 2 2h12a2 2 0 0 0 2-2 2 2 0 0 0 2-2v-7a2 2 0 0 0-2-2V4a2 2 0 0 0-2-2h-7Zm-6 9a1 1 0 0 0-1 1v5a1 1 0 1 0 2 0v-1h.5a2.5 2.5 0 0 0 0-5H5Zm1.5 3H6v-1h.5a.5.5 0 0 1 0 1Zm4.5-3a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h1.376A2.626 2.626 0 0 0 15 15.375v-1.75A2.626 2.626 0 0 0 12.375 11H11Zm1 5v-3h.375a.626.626 0 0 1 .625.626v1.748a.625.625 0 0 1-.626.626H12Zm5-5a1 1 0 0 0-1 1v5a1 1 0 1 0 2 0v-1h1a1 1 0 1 0 0-2h-1v-1h1a1 1 0 1 0 0-2h-2Z"
                        clip-rule="evenodd" />
                </svg>
            </a>
        </div>
        <div class="profile">
            <div class="name">
                <h1 class="nameHeader">Reece Thandi</h1>
                <p class="devDescription">Full-stack software engineer with {{ yearsOfExperience }}+ years of
                    experience.
                    Passionate about building
                    appealing,
                    functional, and high-performance software. A proactive learner and team player, always seeking
                    to
                    enhance skills and collaborate on solving complex problems and creating great products.</p>
            </div>
            <div class="personalPhotoContainer">
                <img src="assets/CVPhoto.jpg" class="personalPhoto" alt="Pic">
            </div>
        </div>
        <div class="personalDetailsAndExperienceContainer">
            <div class="workExperienceColumn">
                <div class="relevantExperience">
                    <hr>
                    <h1 class="relevantExperienceHeader">
                        Relevant Experience
                    </h1>
                    <div *ngFor="let information of CVInformation$ | async; let i = index;">
                        <div class="experienceHeaderAndYear">
                            <h1 class="experienceHeader">
                                {{ information?.workPlace }}
                            </h1>
                            <div class="startAndFinishYearContainer">
                                <p class="startAndFinishYear">
                                    {{ information?.jobStartDate }} - {{ information?.jobEndDate }}
                                </p>
                            </div>
                        </div>
                        <ul>
                            <li *ngFor="let detail of information?.roleDetails">{{ detail }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="personalDetailsColumn">
                <hr>
                <h1 class="sideBarHeaders">
                    Contact
                </h1>
                <div class="contactMethodContainer">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white contactIcon" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        viewBox="0 0 24 24">
                        <path
                            d="M7.978 4a2.553 2.553 0 0 0-1.926.877C4.233 6.7 3.699 8.751 4.153 10.814c.44 1.995 1.778 3.893 3.456 5.572 1.68 1.679 3.577 3.018 5.57 3.459 2.062.456 4.115-.073 5.94-1.885a2.556 2.556 0 0 0 .001-3.861l-1.21-1.21a2.689 2.689 0 0 0-3.802 0l-.617.618a.806.806 0 0 1-1.14 0l-1.854-1.855a.807.807 0 0 1 0-1.14l.618-.62a2.692 2.692 0 0 0 0-3.803l-1.21-1.211A2.555 2.555 0 0 0 7.978 4Z" />
                    </svg>
                    <p class="contactMethod">
                        +44 7432475108
                    </p>
                </div>
                <a href="mailto:reecethandi11@gmail.com">
                    <div class="contactMethodContainer">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white contactIcon" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            viewBox="0 0 24 24">
                            <path
                                d="M2.038 5.61A2.01 2.01 0 0 0 2 6v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6c0-.12-.01-.238-.03-.352l-.866.65-7.89 6.032a2 2 0 0 1-2.429 0L2.884 6.288l-.846-.677Z" />
                            <path
                                d="M20.677 4.117A1.996 1.996 0 0 0 20 4H4c-.225 0-.44.037-.642.105l.758.607L12 10.742 19.9 4.7l.777-.583Z" />
                        </svg>
                        <p class="contactMethod">
                            reecethandi11&#64;gmail.com
                        </p>
                    </div>
                </a>
                <div class="contactMethodContainer">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white contactIcon" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        viewBox="0 0 24 24">
                        <path fill-rule="evenodd"
                            d="M8.64 4.737A7.97 7.97 0 0 1 12 4a7.997 7.997 0 0 1 6.933 4.006h-.738c-.65 0-1.177.25-1.177.9 0 .33 0 2.04-2.026 2.008-1.972 0-1.972-1.732-1.972-2.008 0-1.429-.787-1.65-1.752-1.923-.374-.105-.774-.218-1.166-.411-1.004-.497-1.347-1.183-1.461-1.835ZM6 4a10.06 10.06 0 0 0-2.812 3.27A9.956 9.956 0 0 0 2 12c0 5.289 4.106 9.619 9.304 9.976l.054.004a10.12 10.12 0 0 0 1.155.007h.002a10.024 10.024 0 0 0 1.5-.19 9.925 9.925 0 0 0 2.259-.754 10.041 10.041 0 0 0 4.987-5.263A9.917 9.917 0 0 0 22 12a10.025 10.025 0 0 0-.315-2.5A10.001 10.001 0 0 0 12 2a9.964 9.964 0 0 0-6 2Zm13.372 11.113a2.575 2.575 0 0 0-.75-.112h-.217A3.405 3.405 0 0 0 15 18.405v1.014a8.027 8.027 0 0 0 4.372-4.307ZM12.114 20H12A8 8 0 0 1 5.1 7.95c.95.541 1.421 1.537 1.835 2.415.209.441.403.853.637 1.162.54.712 1.063 1.019 1.591 1.328.52.305 1.047.613 1.6 1.316 1.44 1.825 1.419 4.366 1.35 5.828Z"
                            clip-rule="evenodd" />
                    </svg>
                    <p class="contactMethod">
                        reecethandi.com
                    </p>
                </div>
                <hr>
                <h1 class="sideBarHeaders">
                    Skills
                </h1>
                <h2 class="sidebarSubHeaders">
                    Programming Languages
                </h2>
                <p class="sideBarDescription">
                    JavaScript (ES2015+), C#, TypeScript,
                    HTML, CSS, Sass, SQL, GraphQL
                </p>
                <h2 class="sidebarSubHeaders">
                    Libraries & Frameworks
                </h2>
                <p class="sideBarDescription">
                    Angular, ASP.Net, Jasmine, Node.js, RxJS, p5.js Tailwind CSS
                </p>
                <h2 class="sidebarSubHeaders">
                    Tools and Platforms
                </h2>
                <p class="sideBarDescription">
                    Git, GitHub, Azure, Postman, VS Code, Visual Studio, WebStorm, SQL Server Management Studio
                </p>
                <hr>
                <h1 class="sideBarHeaders">
                    Selected Projects
                </h1>
                <a href="{{ projectURLs['Immune system simulation'] }}" target="_blank">
                    <h2 class="sidebarSubHeaders">
                        Immune System Simulation
                    </h2>
                </a>
                <p class="sideBarDescription">
                    Simulation that models the immune system with viruses, human cells, and white blood cells
                </p>
                <h2 class="sidebarSubHeaders">
                    ReeceThandi.com
                </h2>
                <p class="sideBarDescription">
                    Personal website built with Angular
                </p>
                <a href="{{ projectURLs['Weather App'] }}" target="_blank">
                    <h2 class="sidebarSubHeaders">
                        Weather App
                    </h2>
                </a>
                <p class="sideBarDescription">
                    Real-Time Weather for your location
                </p>
                <hr>
                <h1 class="sideBarHeaders">
                    Education
                </h1>
                <div class="educationContainer">
                    <h2 class="sidebarSubHeaders gradeHeaders">
                        Software Dev Apprenticeship
                    </h2>
                    <div class="qualAndGradeContainer">
                        <p class="sideBarDescription">
                            Apprentice Software Dev Level 4
                        </p>
                        <p class="sideBarDescription grades">
                            Pass
                        </p>
                    </div>
                </div>
                <div class="educationContainer">
                    <h2 class="sidebarSubHeaders gradeHeaders">
                        University Of Nottingham
                    </h2>
                    <div class="qualAndGradeContainer">
                        <p class="sideBarDescription">
                            Msc Oncology
                        </p>
                        <p class="sideBarDescription grades">
                            Merit
                        </p>
                    </div>
                </div>
                <div class="educationContainer">
                    <h2 class="sidebarSubHeaders gradeHeaders">
                        Nottingham Trent University
                    </h2>
                    <div class="qualAndGradeContainer">
                        <p class="sideBarDescription">
                            BSc Biological Science, Pharmacology and Physiology
                        </p>
                        <p class="sideBarDescription grades">
                            2.1
                        </p>
                    </div>
                </div>
                <hr>
                <h1 class="sideBarHeaders">
                    Interests
                </h1>
                <p class="sideBarDescription interestList">
                    Kickboxing, Judo, FPV Drones, Rock Climbing, Philosophy, Cancer Research
                </p>
            </div>
        </div>
    </div>
</div>