.main {
  max-width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.cvContainer {
  display: flex;
  width: 1024px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
}
