.workHistory {
  width: 100%;
  max-width: 1024px;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.workHistoryHeader {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  margin-bottom: 60px;
  font-weight: 700;
  color: oklch(0.746477 0.0216 264.436);
  animation: 0.6s ease-in-out 0s normal forwards 1 slideDown;
}

hr,
svg {
  animation: ease 3s fadeInAnimation;
  margin: 0 20px;
}

.workHistoryCardContainer:hover {
  transform: scale(1.02);
  transition: transform 0.3 ease;
  will-change: transform;
}

.sideFromLeft {
  animation: 0.7s ease-in-out 0s normal forwards 1 slideInFromLeft;
}

.sideFromRight {
  animation: 0.7s ease-in-out 0s normal forwards 1 slideInFromRight;
}

.technologyUsed {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
}

.flexStart {
  justify-content: flex-start;
}

.flexEnd {
  justify-content: flex-end;
}

.leftPadding {
  padding-left: 10px;
}

.rightPadding {
  padding-right: 10px;
}

@media (max-width: 768px) {
  .sideFromLeft {
    animation: 0.7s ease-in-out 0s normal forwards 1 slideInFromRight;
  }
  .technologyUsed {
    justify-content: flex-start;
  }
  .flexEnd {
    justify-content: flex-start;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-50%); /* Start from outside the screen */
    opacity: 0; /* Start invisible */
  }
  to {
    transform: translateX(0); /* End at normal position */
    opacity: 1; /* Fully visible */
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(50%); /* Start from outside the screen */
    opacity: 0; /* Start invisible */
  }
  to {
    transform: translateX(0); /* End at normal position */
    opacity: 1; /* Fully visible */
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
