.workHistory {
    width: 100%;
    max-width: 1024px;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.header {
    opacity: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    margin-bottom: 60px;
    font-weight: 700;
    color: oklch(0.746477 0.0216 264.436);
    animation: slideDown 0.6s ease-out forwards;
}

hr, svg {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 0.6s;
    margin: 0 20px;
}

/* .workHistoryCardContainer {
    
} */

.workHistoryCardContainer:hover {
    transform: scale(1.02); /* Slightly enlarges the card */
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2); /* Adds a deeper shadow */
}

.timeline-start {
    animation: slideInFromLeft 0.6s ease forwards;
}

.timeline-end {
    animation: slideInFromRight 0.6s ease forwards;
}

.technologyUsed {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
}

.leftPadding {
    padding-left: 10px;
}

.rightPadding {
    padding-right: 10px;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-50%); /* Start from outside the screen */
        opacity: 0; /* Start invisible */
    }
    to {
        transform: translateX(0); /* End at normal position */
        opacity: 1; /* Fully visible */
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(50%); /* Start from outside the screen */
        opacity: 0; /* Start invisible */
    }
    to {
        transform: translateX(0); /* End at normal position */
        opacity: 1; /* Fully visible */
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
      transform: translateY(-200%);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
