<div class="modalContainer">
    <div class="bg-base-100 border-primary-bg-base-100 card bg-base-100 w-50 shadow-xl">
        <h2 mat-dialog-title class="modalProjectHeader">{{ data?.title }}</h2>
        <mat-dialog-content>
            <p class="modalProjectText">{{data?.longDescription}}</p>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button class="btn btn-error modalActionBtn" mat-button (click)="onClose()">Close</button>
            <button class="btn btn-error modalActionBtn" mat-button (click)="openUrl(data?.url)">Go</button>
        </mat-dialog-actions>
    </div>
</div>