<div class="main">
  <section class="aboutContent">
    <div class="aboutText">
      <h1>About Me</h1>
      <p>I began my programming journey during the first COVID lockdown, just before starting my oncology master’s
        degree. As I progressed through my studies, I found myself constantly thinking about programming, discovering it
        as a passion I thoroughly enjoyed. Upon completing my master’s, I decided to pursue software development
        full-time.</p>
    </div>
    <div class="aboutImageContainer">
      <img src="assets/aboutme.jpg" class="aboutImage" alt="Pic">
    </div>
  </section>
  <div class="contentDivider">
    <hr />
  </div>
  <section class="workHistorySection">
    <app-workhistory></app-workhistory>
  </section>
  <div class="cursor-glow" id="cursorGlow"></div>
</div>