.custom-cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(242, 82, 73, 0.7);
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.1s ease;
    box-shadow: 0 0 15px 5px rgba(242, 82, 73, 0.7); /* Glowing effect */
    z-index: 1000;
  }
  
  .custom-cursor.active {
    transform: scale(1.5);
    box-shadow: 0 0 30px 10px rgba(242, 82, 73, 0.7);
  }

.main {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.aboutContent {
    display: flex;
    justify-content: center;
    max-width: 1024px;
    margin-top: 50px;
    padding: 0 50px 50px;
    overflow: hidden; /* Prevents content from being visible outside the container */
}

.aboutText {
    flex: 1;
    transform: translateX(-100vw); /* Start outside the left of the screen */
    animation: slideInFromLeft 0.6s ease forwards; /* Trigger animation on load */
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 700;
    color: oklch(0.746477 0.0216 264.436);
}

.aboutText p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: oklch(0.746477 0.0216 264.436);
}

.aboutImageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    transform: translateX(200vw);
    animation: slideInFromRight 0.6s ease forwards; /* Trigger animation on load */
}

.aboutImage {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/9e/Placeholder_Person.jpg');
    background-size: cover;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.contentDivider {
    padding: 3%;
    width: 100%;
    max-width: 1024px;
}

hr {
    flex-direction: column;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 0.6s;
    animation-fill-mode: forwards;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workHistory {
    width: 100%;
    max-width: 1024px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.workHistoryContainer{
    width: 90%;
}

.workHistoryCardContainer {
    padding: 20px;
    display: flex;
}

.startYearEndYear {
    flex: 1;
    margin: 0 10px;
    padding-top: 4px;
}

.roleDetails {
    flex: 4;
    display: flex;
    flex-direction: column;
}

.roleTitle {
    padding-bottom: 10px;
}

.technologyUsed {
    padding-top: 10px;
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.technologyBadgeContainer{
    padding-right: 10px;
}

/* tablet breakpoint */
@media (max-width: 768px) {
    .main {
        flex-direction: column;
        text-align: center;
        margin: 0;
    }
    .aboutText {
        padding-right: 0;
    }
}

/* Animation keyframes */
@keyframes slideInFromLeft {
    from {
        transform: translateX(-50%); /* Start from outside the screen */
        opacity: 0; /* Start invisible */
    }
    to {
        transform: translateX(0); /* End at normal position */
        opacity: 1; /* Fully visible */
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(50%); /* Start from outside the screen */
        opacity: 0; /* Start invisible */
    }
    to {
        transform: translateX(0); /* End at normal position */
        opacity: 1; /* Fully visible */
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
