/* @import url(./components//loadingBG.css); */
@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
  list-style-type: disc;
}

/* Remove bullet points only in navigation */
.navbar-start li {
  list-style-type: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-dialog-surface,
.mdc-dialog__surface {
  background-color: #1d232a !important;
}

@media print {
  .pdfIconContainer,
  .navbar,
  .pdfIcon {
    display: none;
  }
}
